{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-narrow py-5">
        <div class="card">
            <div class="card-body">
                <p>Pemerintah melalui Kemkominfo mengeluarkan peraturan Menteri Komunikasi dan Informatika Nomor 5 Tahun 2020.</p>
                <p>Isi dari peraturan tersebut adalah mengatur semua layanan Penyelenggara Sistem Elektronik, agar mendaftar ke kementrian. Jika sampai batas waktu yang sudah ditentukan, PSE asing maupun lokal yang tidak mendaftar, akan diblokir aksesnya.</p>
                <p>Pada dasarnya pemblokiran ini kurang lebih sama saja dengan pemblokiran sebelumnya melalui trustpositif, hanya saja kali ini dibalik, pemerintah membuat <i>whitelist</i>, artinya status awal setiap layanan internet adalah <b>terblokir</b> kecuali yang sudah mendaftarkan ke pse.kominfo.go.id.</p>
                <p>Ada jutaan layanan internet di dunia yang selama ini dimanfaatkan oleh usaha kecil di Indonesia, demikian juga ada ratusan ribu layanan dalam negeri yang selama ini menopang hajat hidup warga negara. Dari jumlah ini, hampir tiap hari tumbuh layanan-layanan baru yang jumlahnya bisa ratusan hingga puluhan ribu.</p>
                <p>Peraturan yang dibikin Kominfo ini mempersempit akses warga negara. Hal yang merupakan hak dasar dari masing-masing warga, yang mestinya justru difasilitasi oleh negara.</p>
                <p>Hal ini ditambah dengan sistem pse yang banyak bermasalah, dari mulai banyaknya <i>error</i> ketika diakses, data yang tidak muncul, kesulitan pengecekan, hingga tampilan yang jauh dari informatif.</p>
                <p>Laman ini hadir untuk memonitor perkembangan pendaftaran pse di Kominfo, sekaligus sindiran atas proyek senilai nyaris 1 trilyun rupiah tersebut.</p>
                <h3>#BlokirKominfo!</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}